input,
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-50);
  border-color: transparent;
  border: 1px solid var(--grey-300);
}

::placeholder {
  color: var(--grey-600);
}

/*************
     TASKS
*************/

.single-task {
  padding: 1rem 2.5rem;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-task:hover {
  box-shadow: var(--shadow-4);
}
.single-task h5 {
  margin-bottom: 0;
}
.single-task span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: -1.25rem;
  margin-right: 1.5rem;
}
.single-task .fa-check-circle {
  font-size: 1rem;
  color: var(--green-dark);
  visibility: hidden;
}
.task-completed h5 {
  text-decoration: line-through;
}
.task-completed .fa-check-circle {
  visibility: visible;
}
.loading-text {
  visibility: hidden;
}
/* Task Links */
.task-links {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.delete-btn,
.edit-link {
  background: transparent;
  font-size: 0.75rem;
  border: transparent;
  cursor: pointer;
}
.edit-link {
  color: var(--green-dark);
  margin-left: 1rem;
}
.delete-btn {
  color: var(--red-dark);
}

/*************
   SINGLE TASK
*************/

.single-task-form h4 {
  text-align: center;
}

.single-task-form p {
  margin-bottom: 0;
  margin-top: 0;
}

.single-task-form .form-control {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: start;
  gap: 0 1rem;
  margin-bottom: 0.75rem;
}

.single-task-form label {
  margin-bottom: 0;
  font-size: 1rem;
}

.task-edit-completed {
  width: auto;
}
.back-link {
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-top: 6rem;
  background: var(--black);
}
.back-link:hover {
  background: var(--black);
  opacity: 0.75;
}

.single-task-form .form-alert {
  text-align: center;
  margin-top: 1rem;
}

.edit-task-input {
  padding-right: 1rem;
}
.checkbox-input {
  width: auto;
}
