.container {
  width: 40vw;
  max-width: var(--max-width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .title-underline {
    background: var(--primary-500);
    width: 7rem;
    height: 0.25rem;
    margin: 0 auto;
  }
  .title {
    text-align: center;
  }
}
